div{
  margin: 0;
  padding: 0;
  display: block;
}
.container { 
  margin: 0;
  padding: 0;
}
.Sobre{
  display: flex; 
  align-items: left;
  text-align: left;

  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.Sobre p {
  max-width: 400px; /* Limits the width of the paragraph to make the text more compact */
  margin: 0; /* Removes default margin */
}
.GansoPerfil{
  background-image:url('img/Casa.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.GansoSobre{
  background-image:url('img/Lago.png');
  background-repeat: no-repeat;
  background-size: cover;
    margin: 0;
  padding: 0;
}
body{
  text-align: center;
  background: linear-gradient(to bottom right,rgb(31, 88, 40), rgb(28, 75, 119));
}

details.spoiler::after {
    content: var(--oculto);
  }
  
  details[open]::after {
    display: none;
  }

